#colours {
    color: #393E41;
    color: #28464B;
}

html {
    height: 100%;
}

body {
    color: black;
    background-color: #F9F9ED;
    height: 100%;
    min-height: 100%;
    font-family: 'Blinker', sans-serif;
}

.homeContainer {
    height: 100%;
    padding: 2rem;
}

h1, h2 {
    font-family: 'Special Elite', cursive;
}

.logo {
    height: 20rem;
}

.usernameInput {
    width: 15rem;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px #001011;
} .usernameInput:focus {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.joinButton {
    border-radius: 0;
}